<!DOCTYPE html>
<html>

<head>
  <title>Photon</title>
  <meta charset="utf-8">
  <!-- Stylesheets -->
  <link rel="stylesheet" href="css/photon.css">
  <link rel="stylesheet" href="css/style.css">

  <!-- Electron Javascript -->
  <!--<script src="app.js" charset="utf-8"></script>-->
</head>

<body>
  <div class="window">
    <header class="toolbar toolbar-header">
      <h1 class="title">Loja Sul 2000</h1>
      <div class="toolbar-actions">
        <div class="btn-group">
          <button class="btn btn-default">
            <span class="icon icon-home"></span>
          </button>
          <button class="btn btn-default">
            <span class="icon icon-folder"></span>
          </button>
          <button class="btn btn-default active">
            <span class="icon icon-cloud"></span>
          </button>
          <button class="btn btn-default">
            <span class="icon icon-popup"></span>
          </button>
          <button class="btn btn-default">
            <span class="icon icon-shuffle"></span>
          </button>
        </div>

        <button class="btn btn-default">
          <span class="icon icon-home icon-text"></span>
          Filters
        </button>

        <button class="btn btn-default btn-dropdown pull-right">
          <span class="icon icon-megaphone"></span>
        </button>
      </div>
    </header>
    <div class="window-content">
      <div class="pane-group">
        <div class="pane-sm sidebar">Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Fuga accusantium voluptatum repellendus laborum minus quis nihil, aspernatur, mollitia sed,
          cum sunt debitis vitae ipsum facere veritatis architecto odio maxime deleniti.
        </div>
        <div class="pane">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Nome</th>
                <th>CPF</th>
                <th>Telefone</th>
              </tr>
            </thead>
            <tbody>
              <tr id="app">
                <td v-for="cliente in clientes">{{cliente.nome}}</td>
                <td v-for="cliente in clientes">{{cliente.cpf}}</td>
                <td v-for="cliente in clientes">{{cliente.telefone}}</td>
                <td><button id="show-modal" @click="openModal = true">Editar</button></td>

              </tr>
            </tbody>
          </table>
        </div>


      </div>
    </div>
  </div>


  <footer class="toolbar toolbar-footer">
    <h1 class="title">Desenvolvido por Rafa</h1>
  </footer>
  </div>

  <div id="modal" v-if="openModal">
    <div class="wrap">
      <form id="cadastro_cliente" action="" class="pane-body">
        <h3>Cadastro de Clientes</h3>
        <div class=form-group>
          <input type="text" class="form-control" id="nome" placeholder="Nome">
        </div>
        <div class=form-group>
          <input type="text" class="form-control" id="cpf" placeholder="CPF">
        </div>
        <div class=form-group>
          <input type="text" class="form-control" id="telefone" placeholder="Telefone">
        </div>
        <button type="button" id="salvar" class="btn btn-positive">Salvar</button>
        <button type="button" id="sair" class="btn btn-negative">Sair</button>
      </form>


    </div>
  </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script>
  var read = require('read-file-utf8')
  var loki = require('lokijs');
  var db = new loki('db.json');
  var data = read(__dirname + '/db.json');
  db.loadJSON(data);
  window.vue = require('vue');
  // db.loadJSON()
  var clientes = db.getCollection('clientes');
  console.log(db);
  Vue.component('modal', {
    template: '#modal'
  })

  // start app

  new Vue({
    el: '#app',
    data: {
      clientes: [],
      openModal: false

    },
    mounted: function () {
      this.clientes = clientes.data;
      console.log(this.clientes);
    }
  })
</script>

</html>